// colors

$teal-color:#58e1c1;
$pri-text-color:#777;
$light-blue:#51ddfc;
$slight-red:#fff;
$white:#ccc;

// screen break points

$lg-screen:768px;
$mx-br-width:1400px;


// font-type
$text-level-font: monospace;
$base-style-font: 'Lato', sans-serif;
