@use '../utilities/' as var;


// images styling

.img-avatar {
    display: block;
    @include var.margin-l-r-auto;
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
  }
  
  .img-frame {
    display: block;
    @include var.margin-l-r-auto;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid var.$white;
  }
  
  .img-logo {
    display: block;
    @include var.margin-l-r-auto;
  }
  
  